.product img{
    width:auto;
    height:130px;
    margin-bottom:-50px;
    margin-left:1rem;
    transition:0.5s;
}
.product{
    border:none !important;
}
.product:hover img{
    transform:scale(1.05) rotate(-15deg);
    
}
.product .card-title{
    margin-top:50px;
}.img-in-cart{
    width:auto;
    height:50px;
}
